.click{
  background-color:palevioletred;
  color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 200%;
}
body{

<<<<<<< HEAD
     animation: colorchange 5s; /* animation-name followed by duration in seconds*/
        /* you could also use milliseconds (ms) or something like 2.5s */
     -webkit-animation: colorchange 5s; /* Chrome and Safari */
=======
     animation: colorchange 50s; /* animation-name followed by duration in seconds*/
        /* you could also use milliseconds (ms) or something like 2.5s */
     -webkit-animation: colorchange 50s; /* Chrome and Safari */
>>>>>>> a31a2dce8edc1a29423c8544eaa5014b54178b9f
   }

   @keyframes colorchange
   {
     0%   {background: #E4BDFE;}
     25%  {background: #FEBDE2;}
     50%  {background: #C1FEBD;}
     75%  {background: #FEED98;}
     100% {background: #98C1FE;}
   }

   @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
   {
     0%   {background: #E4BDFE;}
     25%  {background: #FEBDE2;}
     50%  {background: #C1FEBD;}
     75%  {background: #FEED98;}
     100% {background: #98C1FE;}
   }

.f{
  font-size: 400%;
  font-family: 'Bree Serif', serif;
  color: black;
}
.message{
  font-size: 300%;
  font-family: 'Bree Serif', serif;
}
